body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    border-radius: 5px;
    padding: 45px 55px;
    background-color: #111116;
    border: 1px solid #3b3450;
}
.login h1 {
    text-align: center;
    margin: 0 0 35px;
}
.login h1::after {
    background-color: #a54c7a;
    margin: 12px auto 0;
}
.login label {
    display: block;
    color: #806bb5;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}
.login input {
    display: block;
    width: 100%;
    height: 48px;
    background-color: black;
    border: 1px solid #493b5c;
    border-radius: 4px;
    color: #ededed;
}
.login button {
    width: 100%;
    height: 48px;
    margin-top: 30px;
    background-color: #a54c7a;
    border: solid #a54c7a;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.login button:hover {
    background-color: #6b5fa7;
    border-color: #6b5fa7;
    transform: translateY(-2px);
}

/*TEXTO REGISTRO*/
.login p {
    margin-top: 25px;
    text-align: center;
    color: #85818a;
    font-size: 0.8rem;
}


/* Link registrarse */
.login p a {
    color: #bd5b88;
    font-weight: 600;
}