.ubicacion-contenido {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.ubicacion-info {
    flex: 1;
    background-color: var(--negro-2);
    border: 1px solid var(--borde);
    padding: 35px;
}
.ubicacion-info h2 {
    font-family: 'Creepster', cursive;
    color: var(--rosa-claro);
}
.dato {
    display: flex;
    gap: 18px;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 1px solid var(--borde);
}